PORT=5000
DATABASE_URL="postgresql://postgres:Growinghero%407@localhost:5432/sss_prod"
JWT_SECRET="mysecretkey123456789abcdefghijklmnopqrstuvwxyz1234567890abcd"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:5000/auth/google/callback"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
